version: "3"
services:
  client:
    build: ../rpd-client-ts
    restart: unless-stopped
    ports:
      - "8080:80"
      - "443:443"
    environment:
      - API_URL=https://api.rpd-uni-dubna.ru
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - app-network

  server:
    build: ../rpd-server
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    networks:
      - app-network
    depends_on:
      - db

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      - DB_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=KuliK@4774
      - POSTGRES_DB=Rpd
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
